div.minimalistBlack {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
    border: 1px solid #000000;
    padding: 5px 4px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
    font-size: 13px;
}
.divTable.minimalistBlack .divTableHeading {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
.minimalistBlack .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}
.minimalistBlack .tableFootStyle {
    font-size: 14px;
}

div.comicGreen {
    font-family: Arial, cursive, sans-serif;
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.divTable.comicGreen .divTableCell, .divTable.comicGreen .divTableHead {
    border: 1px solid #4F7849;
    padding: 3px 2px;
}
.divTable.comicGreen .divTableBody .divTableCell {
    font-size: 19px;
    font-weight: bold;
    color: #4F7849;
}
.divTable.comicGreen .divTableRow:nth-child(even) {
    background: #CEE0CC;
}
.divTable.comicGreen .divTableHeading {
    background: #4F7849;
    background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
    border-bottom: 1px solid #444444;
}
.divTable.comicGreen .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
.divTable.comicGreen .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.comicGreen .tableFootStyle {
    font-size: 21px;
}

div.paleBlueRows {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 3px solid #FFFFFF;
    margin-top : 10px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}
.divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: 18px;
}
.divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #D0E4F5;
}
.divTable.paleBlueRows .divTableHeading {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
}
.divTable.paleBlueRows .divTableHeading .divTableHead {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
.divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.paleBlueRows .tableFootStyle {
    font-size: 14px;
}

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}